HOSTED_TARGET_TRIPLET := i686-hobbix
TARGET_TRIPLET := i686-elf
TARGET_ARCH := i386

export HOSTED_TARGET_TRIPLET TARGET_TRIPLET TARGET_ARCH

TOOLCHAIN ?= GNU

export TOOLCHAIN

ifeq ($(TOOLCHAIN), GNU)
CC := $(HOSTED_TARGET_TRIPLET)-gcc
LD := $(CC)
AR := $(HOSTED_TARGET_TRIPLET)-ar
else ifeq ($(TOOLCHAIN), LLVM)
CC := clang -target $(TARGET_TRIPLET)
LD := ld.lld
AR := llvm-ar
else
$(error No toolchain specified. Use 'make TOOLCHAIN={GNU, LLVM}')
endif
CPP := $(CC) -E

export CC LD AR CPP

# Makefile build options
V = 0
ifeq ($(strip $(V)),)
	E = @echo
	Q = @
else
	E = @\#
	Q =
endif
export E Q

