CFLAGS :=  -std=c99 -ffreestanding -O2 -Wall -Wextra -Winit-self -Wundef -pedantic -Wshadow -Wstrict-prototypes -MMD -MP -DKERNEL
ifeq ($(CC), clang -target $(TARGET_TRIPLET))
CFLAGS += -mno-sse
endif
CPPFLAGS := -ffreestanding -P
# Still C compiler flags as we assemble .S files using GCC
ASFLAGS := -ffreestanding -MMD -MP
LDFLAGS := -nostdlib -O2 -ffreestanding
ifeq ($(CC), $(HOSTED_TARGET_TRIPLET)-gcc)
LDFLAGS += -lgcc -Xlinker -Map=kernel.map
else
LDFLAGS += -Map kernel.map
endif

ARCH_DIR := arch/$(TARGET_ARCH)
